@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

body {
    background-color:#5f0a87;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    min-width: 100vw;
}

h1 {
    font-size: 4rem;
    font-family: inherit;
    text-align: center;
}

form {
    max-width: 100%;
    width: 400px;
}

.input {
    border: none;
    border-radius: 10px;
    color: #444;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    font-size: 2rem;
    padding: 0.5rem 2rem;
    display: block;
    width: 100%;
    
}

.input::placeholder {
    color:#d5d5d5;
    font-family: inherit;
    font-size: 28px;
}

.todos {
    border: none;
    border-radius: 10px;
    list-style-type: none;
    margin-top: 2rem;
}

.todos li {
    background-color: #4e0470;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    font-family: inherit;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    padding: 1rem 1rem;
    border-radius: 10px;
    margin-top: 1rem;
}

.todos li.completed {
    color: rgb(255, 151, 91, 0.5);
    text-decoration: line-through;
}

small {
    padding: 2rem;
    color: rgb(252, 235, 235, 0.5);
}